.App-link {
  color: #61dafb;
}

.body {
  background-color:darkgray ;
}

.reviewContent {

}

.reviewsList {
list-style: none;
}

.individualReview {
  background-color:slategrey ;
  margin-bottom: 1cm;
  padding: 2%;
  border: solid;
  border-radius: 20px;
  width: 90%;
}