.App-link {
  color: #61dafb;
}

.body {
  background-color:darkgray ;
}

.reviewsList {
list-style: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.individualReview {

  background-color:slategrey ;
  margin-bottom: 1cm;
  padding: 2%;
  border: solid;
  border-radius: 20px;
  width: 90%;
}

.individualReview:hover {
  background-color: dimgray;
}

.individualReview:active {
  box-shadow: 0 10px #666;
  transform: translateY(7px);
}

.header {
  background-color:#666;
  padding: 10px;
  top: 0;
  width: 100%;
}

.dropdown {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: large;
text-align: center;
}

.dropdown select {
  font-size: large;
}

.categoryList {
  list-style: none;
  text-align: center;
}

.categoryList button {
  display: inline;
  padding: 4px;
  width: 10%;
  margin: 10px auto 0px auto;
  border-radius: 5px;
}